// Define variables for your color scheme

// For example:
$red: #A3320B;
$blue: #34979C;
$yellow: #E6AF2E;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #D7D5D6;

$purple: #BEB2C8;
