// Banner
.cocktail-show-container {
  width: 100vw;
}

.banner-show {
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
  height: 40vh;
  position: relative;
  color: $white;
  h1 {
    font-size: 80px;
    text-shadow: 1px 1px 3px $purple;
  }
}

.nav-bar {
  justify-content: flex-end;
  padding: 20px 40px;
}

// Ingredients
.ingredients-container {
  background: $white;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.instructions-container {
   background: $white;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}


.new-rating-container {
  background: $white;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.reviews-container {
  background: $white;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.ratings-container {
  background: $white;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}



.instruction-update-form {
  padding: 20px;
}

#cocktail_instructions {
  height: 200px;
}

#dose_description {
  height: 34px;
  width: 100px;
  margin: 0px 8px;
  // margin-left: 8px
}

.dose-create {
  height: 34px;
}

#review_content {
  width: 325px;
}

.review-submit-btn {
  margin: 0px 8px;
}


.delete {
  font-style: italic;
}

